#root {
  margin: 0 auto;
  padding: 1rem;
  color: #EEEEEE;
}

.label {
  display: block;
  background-color: #00ADB5;
  padding: 0.3rem;
  border: 1px solid #393E46;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px #222831;
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
}

#editor {
  width: 100%;
  height: 50vh;
  padding: 10px;
  border: 2px solid #222831;
  border-radius: 5px;
  font-size: 1.05rem;
  line-height: 1.5;
  resize: vertical;
}

.previewContainer {
  margin-top: 20px;
}

#preview {
  width: 100%;
  min-height: 20vh;
  padding: 10px;
  border: 2px solid #222831;
  border-radius: 5px;
  line-height: 1.5;
}

#preview img {
  max-width: 80%;
}

#preview pre {
  background-color: #222831;
  overflow: auto;
}

@media (min-width: 1200px) {
  .App {
    display: flex;
    justify-content: space-between;
  }

  #editor {
    resize: both;
    width: 48vw;
    height: 90vh;
  }

  .previewContainer {
    width: 48vw;
    margin-top: 0;
  }

  #preview {
    overflow: auto;
    height: 90vh;
  }

}